/* * {
	border: 1px solid red;
} */

body {
	display: flex;
	background-color: lightgrey;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
	background-color: whitesmoke;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	height: 50%;
	width: 230px;
	padding: 10px 20px;
	justify-content: center;
	align-items: center;
	box-shadow: 5px 5px 5px lightslategray;
}

.firstRow,
.secondRow,
.thirdRow,
.fourthRow,
.fifthRow {
	display: block;
}

.digits,
.operator {
	display: inline-block;
	font-weight: bold;
	color: whitesmoke;
}

button {
	width: 60px;
	height: 60px;
	margin: 5px 5px;
	font-size: 20px;
	cursor: pointer;
}

button:active {
	transform: scale(0.98);
	/* Scaling button to 0.98 to its original size */
	box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
	/* Lowering the shadow */
}

.screen {
	width: 92%;
	height: 50px;
	background-color: darkseagreen;
	margin-bottom: 10px;
	margin-top: 10px;
	display: flex;
	justify-content: right;
	align-items: center;
}

.screen,
button {
	border-radius: 5px;
	border: none;
}

.digits {
	background-color: darkslategrey;
}

.operator {
	background-color: orange;
}

.enter {
	width: 60%;
}

#cancel {
	margin-right: 10px;
	margin-left: 10px;
}

h2 {
	margin-right: 10px;
}

.operator,
.digits,
.screen {
	box-shadow: 3px 3px 3px lightslategray;
}

#enterCancel {
	width: 100%;
	display: flex;
}

h1 {
	font-size: 20px;
	margin-bottom: 0px;
	text-align: left;
}

p {
	margin-top: 5px;
}
